*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    font-weight: 200;
    color: #f7f5f4;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: url("./images/background.jpg") no-repeat center center fixed;
    background-size: cover;   
    width: 100vw;
}   

html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


img, video {
    max-width: 100%;
    display: block;
  }

h1, h2, h3 {
    text-transform: uppercase;
    font-family: "Dela Gothic One", sans-serif;
}

h1 {
    font-size: 3.5em;
    letter-spacing: 0.1em;
}

h2 {    
    letter-spacing: 0.1em;
    color: #FFCB30;
    font-size: 2.8em;
    margin-top: 0;
}

h3 {    
    letter-spacing: 0.1em;
    color: #f7f5f4;
    font-size: 2.3em;
    margin-top: 0;
}

h4 {
    font-size: 1.5em;
    color: #413022;
}

p, ul {
    font-size: 1.5em;
}

.default-card {
    background: rgba(18, 18, 18, 0.85);
    align-items: center;
}

/*-----------------------------------------------*/

header {
    background-color: #f7f5f4;
}

.header {
    background: rgba(55, 55, 55, 0);
    color: #f7f5f4;
    display: flex; 
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    padding: 1em;
    z-index: 1000;
    margin: 20px;
}

.header-contact-link {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 8px;
    padding: 0.5em 1em;
    background: transparent;
    border-radius: 60px;
    transition: 0.3s;
    cursor: pointer;
    max-width: 250px;
}
  
.header-contact-link:hover {
    width: 180px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
}

.header-contact-link .phone-icon {
    position: absolute;
    font-size: 1.75em;
    transition: 0.3s;
    transition-delay: 0.25s;
}
  
.header-contact-link:hover .phone-icon {
    transform: scale(0);
    transition-delay: 0s;
}

.header-contact-link .phone-number {
    position: absolute;
    right: 0.5%;
    font-size: 1.1em;
    transform: scale(0);
    transition: 0.3s;
    transition-delay: 0s;
    white-space: nowrap;
}
  
.header-contact-link:hover .phone-number {
    transform: scale(1);
    transition-delay: 0.25s;
    color:  rgba(55, 55, 55, 0.8);
    background: #FFCB30;
    padding: 0.25em 0.5em;
    border-radius: 20px;
}   

.phone {
    animation: blowUp 1s ease;
    animation-delay: 10s;
}

@keyframes blowUp {
    0% {
        opacity: 0;
        transform: scale(1) translateY(0);
    }
    50% {
        opacity: 1;
        transform: scale(4) translateY(20px) translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

/*-----------------------------------------------*/

#home {
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;   
    position: relative;
    z-index: 0;
    background-color: #111;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
    padding: 0;
    margin: 0;
}

.bg-video, .fallback-bg {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fallback-bg {
    z-index: -2;
}

.title {
    position: relative;
    top: 30vh;
    padding-left: 20%;
    padding-right: 20%;
    z-index: 10;
}

.heading {
    color: #FFCB30;
    text-shadow: 0;
    font-size: 3.5em;
    letter-spacing: 0.1em;
}

.sub-heading {
    align-items: center;
    font-size: 1.8em;
    text-shadow: 0;
    position: relative;
}

.book-now-button {
    padding: 10px 20px;
    background-color: rgba(255, 203, 48, 0);
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    cursor: pointer;
    margin-top: 1em;
    border: 3px solid #FFCB30;
    border-radius: 10px;
    transition: 0.3s;
    width: fit-content;
}

button>a {
    color:  #f7f5f4;
    text-decoration: none;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

button:hover {
    background-color: #FFCB30;
}

button:hover a {
    color: #413022;
}

.down-arrow {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2em;
    color: #FFCB30;
    animation: bounce 1s infinite;
}

@keyframes bounce {
    0%, 100% {
      transform: translate(-50%, 0);
    }
    50% {
      transform: translate(-50%, 10px);
    }
  }

/*-----------------------------------------------*/

#about {
    background: #fdfff9;
    color: #413022;
    padding: 5em 12em;
}

.about-container {
    display: grid;
    grid-template-columns: 35% auto;
    gap: 3em;
    align-items: start;
}

.portrait img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

/*-----------------------------------------------*/

#tours {
    background: rgba(18, 18, 18, 0.85);
    color: #f7f5f4;
    width: 100vw;
}
    
#tours h2 {
    margin: 0;
    padding-left: 3em;
    padding-top: 2em;
    padding-bottom: 0;
}

.gallery h3 {
    font-family: "Outfit", sans-serif;
    color: #FFCB30;
    text-transform: none;
}

.gallery h3, p {
    z-index: 2;
}
    
.gallery {
    display: flex;
    flex-direction: row;
    gap: 0;
    padding: 0em 8em 5em 8em;
}
    
.left {
    display: flex;
    width: 50%;
}

.right {
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}   

.desktopContent {
    width: 100%;
}

.desktopContentSection {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 5em;
    padding-top: 0;
    margin-top: 0;
    width: 95%;
}

.desktopPhotos {
    width: 100%;
    height: 30vw;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}

.desktopPhoto {
    position: absolute;
    width: 100%;
    height: 100%;
}

.desktopPhoto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 24px 24px 25px rgba(0, 0, 0, 0.4);
}

.location {
    text-decoration: underline;
}

/* small screen / mobile layout */
.mobileContent {
    display: none;
    width: 100%;
}

.mobileContentSection {
    margin-bottom: 6em;
    text-align: center;
}

.mobileContentSection ul {
    width: 60%;
    margin: auto;
    text-align: left;
}

.mobilePhoto {
}

.mobilePhoto img {
}

/*-----------------------------------------------*/

#location {
    background: #fdfff9;
    color: #413022;
    padding: 5em 8em;
}

.anlegestellen-overview {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 40px;
    margin: 0 auto;
}

/*-----------------------------------------------*/

#contact {
    padding: 5em 8em;
}

.contact-container {
    display: grid;
    grid-template-columns: 40% 60%;
}   

.contact-container a {
    display: flex; 
    align-items: center; 
    gap: 8px; 
    text-decoration: none;
    color: #f7f5f4;
}

form {
    width: 60%; 
    text-align: left;
    font-size: 1.2em;
    margin: auto;
}

label {
    display: block;
    margin-top: 10px;
}

input, textarea {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: 2px solid #f7f5f4;
    width: 80%;
    background: rgba(255, 203, 48, 0);
    color: #f7f5f4;
    font-size: 1em;
    font-family: 'Outfit', sans-serif;
}

input:focus, textarea:focus {
    outline: none;
    border: 2px solid #FFCB30;
    color: #f7f5f4;
    font-size: 1em;
}

#message {
    height: 75%;
}

.submit-button {
    width: fit-content;
    padding: 10px 20px;
    border: none;
    background-color: #FFCB30;
    font-size: 0.8em;
    cursor: pointer;
    margin-top: 1em;
    border-radius: 20px;
    transition: 0.3s;
    color: #413022;
}

.submit-button:hover {
    cursor: pointer;  
    background-color: #FFE085;
}

.checkbox-label {
    display: flex;
    align-items: top;
    gap: 0;
    margin-top: 10px;
    text-align: left;
    color: #f7f5f4;
    width: 80%;
}

.checkbox-label input[type="checkbox"] {
width: 20px;
height: 20px;
}

.checkbox-label p {
margin: 0;
padding-left: 10px;
font-size: 0.9em;
width: 100%;
}

.checkbox-label a {
display: inline;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-4px); }
    50% { transform: translateX(4px); }
    75% { transform: translateX(-4px); }
    100% { transform: translateX(0); }
  }
  
  .checkbox-error {
    animation: shake 0.3s ease;
    outline: 2px solid red;
  }

/*-----------------------------------------------*/

#faq {
    background: #fdfff9;
    color: #413022;
    padding: 5em 8em;
}
  
.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400; 
    cursor: pointer;
    padding: 0.5em 0;
    color: #413022;
}

.faq-question p {
    margin: 0;
}
  
.faq-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease;
    padding: 0 0;
    font-size: 1.2em;
    transition: max-height 0.3s ease;
}
  
.faq-item.active .faq-content {
    max-height: 200px;
    padding: 0.5em 0;
}

hr {
    border: 1px solid #FFCB30;
    margin: 1em 0;
}

/*-----------------------------------------------*/

footer {
    padding: 5em 10em;
    font-size: 0.8em; 
    background: rgba(18, 18, 18, 0.85);
    padding-bottom: 2em;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    gap: 5em;
}

.footer h3 {
    font-family: "Outfit", sans-serif;
    font-size: 1.6em;
    margin: 0;
    text-transform: none;
    padding-bottom: 0.7em;
}

.footer ul {
    display: flex;
    gap: 1em;
    list-style: none;
    padding: 0;
}

.footer-left {
    display: flex;
    gap: 2.5em;
    flex-direction: row;
}

footer a {
    text-decoration: none;
    color: #f7f5f4;
}

footer a:hover {
    cursor: pointer;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2em;
    font-size: 0.7em;
}

/*-----------------------------------------------*/

#impressum, #datenschutz {    
    padding: 5em 8em;
    background: rgba(18, 18, 18, 0.85);
}

#impressum a, #datenschutz a {
    color: whitesmoke;
}

/*-----------------------------------------------*/

@media (max-width: 1250px) {
    .footer {
        justify-content: space-around;
    }

    .footer-left, .footer ul {
        flex-direction: column;
        gap: 0em;
    }
    .footer-left p {
        margin: 10px 0;
    }
}

@media (max-width: 1050px) {

    .default-card {
        padding: 3em 5em;
    }

    .title {
        padding: 10%;
    }
    .heading {
        font-size: 3em;
    }
    
    .sub-heading {
        font-size: 1.3rem;
    }

    button { 
        padding: 10px 20px;
        font-size: 0.6em;
    }

    #tours h2 {
        text-align: center;
        padding: 0;
        padding-top: 2em;
        margin: 0;
    }

    .gallery {
        display: flex;
        flex-direction: column;
        gap: 0;
        padding: 0em 2em 5em 2em;
    }

    .left {
		display:none;
	}
	
	.right {
        justify-content:center;
        align-items:center;
        margin: auto;
		height:auto;
		width:80%;
	}	
	
	.desktopPhotos {
		display: none;
	}

    .right {
        margin: 0;
        margin-top: 5em;
        width: 100%;
    }
	
	.mobileContent {
		display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
	}

    .mobilePhoto {
        display: flex;
        justify-content: center;
    }

    .mobilePhoto img {
        width: 70%;
        height: auto;
        object-fit: cover;
        border-radius: 20px;
        margin-bottom: 2em;
        margin-top: 4em;
        box-shadow: 14px 14px 10px rgba(0, 0, 0, 0.4);
    }

    #about {
        padding: 5em 2em;
        text-align: center;
    }

    .about-container {
        display: grid;
        grid-template-columns: 100%;
        gap: 2em;
    }  

    .portrait img {
        align-self: center;
        margin: 0 25%;
        width: 50%;
        height: auto;
        object-fit: cover;
        border-radius: 20px;    
    }

    .grid-container-form {
        width: 100%;
        text-align: left;
    }

    #location {
        padding: 5em 2em;
    }

    .anlegestellen-overview {
        display: grid;
        grid-template-columns: 100%;
        gap: 40px;
        margin: 0 auto;
    }

    #contact {
        padding: 5em 2em;
    }

    input, textarea {
        width: 100%;
    }

    .contact-container {
        display: block;
    }

    .contact-container form {
        margin: 50px 0;
    }

    #faq {
        padding: 5em 2em;
    }

    footer {
        padding: 2em 3em;
    }

    #impressum {
        padding: 5em 2em;
    }

}

@media (max-width: 768px) {

    p, ul {
        font-size: 1.8em;
    }

    .phone {
        transform: scale(2);
    }

    .heading {
       font-size: 2.2em;
    }

    .sub-heading {
        font-size: 1.5em;
    }
    .down-arrow {
        font-size: 1.3em;
    }

    .book-now-button {
        padding: 10px 20px;
        font-size: 0.8em;
    }

    #tours h2 {
        text-align: center;
        padding: 0;
        padding-top: 2em;
        margin: 0;
    }

    .footer-bottom {
        flex-direction: column;
        align-items: center;
    }
  }   
  